body{
    background-color: white;
    font:normal 15pt arial
    
}
header{
    color: black;
    text-align: center;
    font-style:italic
}
section{
    color: black;
    margin:auto;
    background-color: rgb(20, 19, 19);
    padding:15px;
    background-color: white;
}
div.foto{
    display: flex;
    margin-top:15px;
    position:relative;
    width:100%;
    max-widht:700px;
    aspect-ratio: 70/45;
    margin:2mm auto;
}
