body{
    background-color:rgba(19,163,240,0.949);
    font:normal 15pt arial

}
header{
    text-align:center;
    font-style:italic
}
section{
    margin:auto;
    background-color:white;
    padding:25px;
    box-shadow:7px 7px 10px black;
    border-radius:50px;
    text-align:center
}
div#agua{
    border-radius:50%;
    text-align:center;
}
@media screen and (max-width: 600px) {

    
    
    
    div#agua img{
    Min-width: 200px;
    Max-width:600px;
    }
    
    }